* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    margin-bottom: auto;
    background-color: #302e2f;
    padding: 32px 48px;
    align-items: center;
    color: #e0d4c0;
}

.header a {
    padding-left: 32px;
}

.lefthead {
    margin-left: auto;
}

.main {
    display: flex;
    margin-top: 0px;
    padding: 64px 48px;
    background-color: #302e2f;
    color: #e0d4c0;
}

.text h1 {
    font-size: 48px;
    font-weight: 900;
    color: F9FAF8;
}

.text p {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 64px 48px;
    text-align: center;
}

.albums {
    display: flex;
    padding: 32px 64px;
    justify-content: space-between;
}

.ab img {
    max-width: 200px;
    height: 200px;
}

.ab {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 32px;
}

.three {
    padding:  60px 100px;
    background-color: #fce9cd;
    color: #42403d;
}

.three p {
    font-size: 36px;
}

.three h3 {
    margin-left: 85%;
}

.four {
    display: flex;
    padding: 60px 100px;
    justify-content: center;
}

.cta {
    display: flex;
    width: 60%;
    height: 128px;
    border-radius: 25px;
    background-color: #302e2f;
    color: #e0d4c0;
    padding: 26px 128px;
} 

.cta button {
    align-self: center;
    margin-left: 25%;
    flex: 1 0 auto;
}

.footer {
    text-align: center;
    background-color: #302e2f;
    color: #e0d4c0;
}

button {
    background-color: #e0d4c0;
    border: none;
    border-radius: 25px;
    color: #302e2f;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

button:active {
    background-color: white;
}

img {
    max-width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #e0d4c0;
}